// Color Settings.

$color-slate:  hsl(208, 56%, 20%);
$color-blue:   hsl(203, 68%, 50%);
$color-red:    hsl(342, 87%, 34%);
$color-green:  hsl(169, 83%, 36%);
$color-purple: hsl(264, 67%, 50%);
$color-orange: hsl(41, 76%, 47%);
$color-yellow: hsl(55, 67%, 46%);
$color-brown:  hsl(17, 30%, 54%);
$color-grey: #4d5763;
$color-dark-grey: #292f34;
$color-lighter-grey: #98abba;
$color-lightest-grey: #D8D9DA;
$color-medium-grey: #738491;

$white: #fff;
$black: #1f1f1f;

// Semantic colors.
$color-background: $color-lightest-grey;
$color-button-text: $white;
$color-button: $color-grey;
$color-popup-background: $color-medium-grey;
$color-popup-text: $white;
$color-downvote: #5c5bd7;
$color-infobar-text: $white;
$color-infobar: $color-grey;
$color-link-default: $color-blue;
$color-link-flair-mod-text: $white;
$color-link-flair-mod: $color-green;
$color-link-flair-text: $white;
$color-link-flair: $color-medium-grey;
$color-link-visited: $color-medium-grey;
$color-locked: $color-green;
$color-nsfw-text: $white;
$color-nsfw: #ea4876;
$color-pretty-button-negative: $color-red;
$color-pretty-button-neutral: #ddd;
$color-pretty-button-positive: $color-green;
$color-pretty-button-poop: $color-brown;
$color-pretty-button-text: $white;
$color-selection: $color-grey;
$color-stickied: $color-green;
$color-toggle-text: $white;
$color-toggle: #4f8ef7;
$color-upvote: #ff6422;

$text-color: $color-dark-grey
