/* ------ HEADER BACKGROUND IMAGE --- */

 #header {background-image: url(%%headerimg%%);}

/* ------ SIDEBAR IMAGE --- */

.side::before {background-image: url(%%sidebarimg%%);}

/* ------ BRAVE LOGO (change white or black) --- */

#header .pagename {
  a {
    background-image: url(%%bravelogowhite%%);

    &:before {
      background-image: url(%%bravepart1white%%);
    }

    &:after {
      background-image: url(%%bravepart2white%%);
    }
  }
}

/* ------ ARROWS -- see "heads.png" --- */

.arrow {
  &.upmod {background-position: -32px -32px;}
  &.downmod {background-position: -96px -0px;}
}

/* ------ SIDEBAR HEADER FACES - see "heads.png" --- */

.side .titlebox .md h2:first-of-type::before {
  background-position: -0px -32px;
}

.side .titlebox .md h2::before {
  background-position: -0px -0px;
}

/* ------ BULLET LIST FACES - see "heads.png" --- */

.side .md ul li:before {
  background-position: -32px -0px;
}



/* ------ the rest, best to rebuild using SCSS --- */
