@function text-by-bg-color($bgColor) {
  @if (lightness($bgColor) > 70) {
    @return darken($bgColor,40%);

  } @else if(lightness($bgColor) < 30){
    @return lighten($bgColor,40%);

  } @else {
    @return #fff;
  }
}

$lighnessChange: 50%;

@mixin moderator-label($nickname,$primaryColor,$secondaryColor:null,$primaryTextColor:null,$secondaryTextColor:null) {
  .author[href$="#{"/"+$nickname}"]:before {
    @include base-flair-handle($primaryColor)
    content: "Mod ";
    text-indent: 0px;
  }

  @if ($secondaryColor) {
    .author[href$="#{"/"+$nickname}"]:before {
      background: $secondaryColor;
      color: text-by-bg-color($secondaryColor);
    }
  }

  .author[href$="#{"/"+$nickname}"] {
    @include base-flair($primaryColor);
  }

  @if ($primaryTextColor) {
    .author[href$="#{"/"+$nickname}"] {
      color: $primaryTextColor !important;
    }
  }

  @if ($secondaryTextColor) {
    .author[href$="#{"/"+$nickname}"]:before {
      color: $secondaryTextColor !important;
    }
  }
}

@mixin op-label($bgColor) {
  .author.submitter:before {
    @include base-flair-handle($bgColor)
    content: "OP ";
    text-indent: 0px;
  }

  .author.submitter {
    @include base-flair($bgColor);
  }
}

@mixin distinguished-label($bgColor) {
  .stickied .author.moderator:before,
  .author.moderator:before {
    @include base-flair-handle($bgColor)
    content: "Mod ";
    text-indent: 0px;
  }

  .stickied .author.moderator,
  .author.moderator {
    @include base-flair($bgColor);
  }

  .stickied .author.moderator {
    color: $white;
  }
}

@mixin user-label($bgColor) {
  @include base-flair($bgColor);

  &[title]:before {
    content: '';
  }
}

@mixin base-flair($bgColor) {
  display: inline-block;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 32px;
  background-color: $bgColor;
  color: text-by-bg-color($bgColor) !important;

  &:hover {
    background-color: darken($bgColor,5%);
  }
}

@mixin base-flair-handle($bgColor) {
  content: '-';
  text-indent: -100px;
  font-size: 9px;
  font-weight: bold;
  font-family: "Lucida Grande",sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  color: text-by-bg-color($bgColor) !important;
  display: inline-block;
  padding: 3px 5px 3px 7px;
  margin: -5px 6px -5px -6px;
  background-color: darken($bgColor,5%);
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

@mixin hover-popup($text,$position:"left") {
  &::after {
    background-color: rgba($color-popup-background, 0);
    border: none;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0);
    content: $text;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 1em;
    letter-spacing: 1px;

    position: absolute;
    @if ($position == "right") {
      left: 0;
      margin-left: 32px;

    } @else {
      right: 0;
      margin-right: 0px;
      margin-top: 10px;
    }

    padding: 12px;
    pointer-events: none;

    text-align: center;
    transition: all 0.25s ease;
    visibility: hidden;
    z-index: 1000;

    white-space: nowrap;
  }

  &:hover::after {
    background-color: rgba($color-popup-background, 0.9);
    color: $color-popup-text;
    visibility: visible;
  }

  &:focus::after {
    visibility: hidden;
  }
}
