// Label text.


$label-downvote: "Objectively" !default;
$label-flair-about: "Go to /r/.../about/flair" !default;
$label-flair-selected: "Selected Flair:" !default;
$label-messages: "Praise Geraldo!" !default;
$label-search: "Search reddit" !default;
$label-submit-button: " your post to Reddit." !default;
$label-submit-inactive: "N/A" !default;
$label-submit-hover: "Complain about video games" !default;
$label-subreddit-info: "O B J E C T I V E L Y" !default;
$label-subreddit-online: " Seanpologists online" !default;
$label-subreddit-readers: " shills waiting for Half-Life 3" !default;
$label-theme-credit: "This subreddit uses the /r/Naut theme." !default;
