/* Experimental Toast Animation */

#mail.havemail::before {
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-name: toast;
  animation-timing-function: ease;
}

#mail.havemail:hover::before {
  animation-play-state: paused;
}

@keyframes toast {
  0% {
    opacity: 0;
    transform: translateY(76px);
    transform: translateY(76px);
  }

  20% {
    opacity: 0;
    transform: translateY(76px);
    transform: translateY(76px);
  }

  25% {
    opacity: 1;
    transform: translateY(-8px);
    transform: translateY(-8px);
  }

  27% {
    opacity: 1;
    transform: translateY(0);
    transform: translateY(0);
  }

  92% {
    opacity: 1;
    transform: translateY(0);
    transform: translateY(0);
  }

  97% {
    opacity: 1;
    transform: translateY(16px);
    transform: translateY(16px);
  }

  100% {
    opacity: 0;
    transform: translateY(76px);
    transform: translateY(76px);
  }
}

@keyframes vote {
  0% {
    transform: scale(0) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes logoHand {
  0%, 4%, 8%, 12%, 18%, 20%, 22%, 24%, 26%, 40%, 41%, 42%, 43%, 44%, 45%, 60%, 100% {
    top: 13px;
    left: 18px;
  }
  19%, 21%, 23%, 25% {
    top: 18px;
    left: 28px;
  }
  2%, 6%, 10%, 40.5%, 41.5%, 42.5%, 43.5%, 44.5%, 45.5%, 50% {
    top: 24px;
    left: 48px;
  }
}


@keyframes pip_is_dead {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes last_breath {
  0% {
    transform: scale(0.2) translate3d(0,0,0);

  }
  10% {
    transform: scale(0.28) translate3d(-20%,-50%,0);

  }
  20% {
    transform: scale(0.36) translate3d(20%,-100%,0);

  }
  30% {
    transform: scale(0.44) translate3d(-20%,-150%,0);

  }
  40% {
    transform: scale(0.52) translate3d(20%,-200%,0);

  }
  50% {
    transform: scale(0.6) translate3d(-20%,-250%,0);

  }
  60% {
    transform: scale(0.68) translate3d(20%,-300%,0);

  }
  70% {
    transform: scale(0.76) translate3d(-20%,-350%,0);

  }
  80% {
    transform: scale(0.84) translate3d(20%,-400%,0);

  }
  90% {
    transform: scale(0.92) translate3d(-20%,-450%,0);

  }
  100% {
    transform: scale(1) translate3d(20%,-500%,0);

  }
}
