/* Body Content - Frontpage */

body > .content {
  margin: 16px 352px 64px 16px;
  padding: 0 0;
  padding-top: 0px !important;
}

.link {
  margin: 0;
  padding: 14px 0;
  position: relative;
  border-top: 1px solid #edf1f3;

  &:first-child {
    border: none
  }
}

/* Objects on the link from left to right */

body > .content .link .rank,
.rank-spacer {
  display: none;
}

/* Voting Arrows */

.link {
  .midcol {
    height: 56px;
    margin: 0 2px 0 0;
    overflow: visible;
    width: 32px !important;
  }

  .score {
    font-size: 12px;
    line-height: 16px;
    margin: 0px -100% 0px -100%;
    text-align: center;

    &.likes {
      color: $color-upvote;
    }

    &.dislikes {
      color: $color-downvote;
    }
  }
}

.arrow {
  background-color: transparent;
  background-image: url(%%heads%%) !important;
  margin: 0 0 0 0;
  width: 32px;
  height: 22px;

  /* Upvotes */

  &.up {
    background-position: 0 -96px;
    transition: background-color 0.25s ease;
  }

  &.upmod {
    height: 32px;
    margin-top: -10px;
    position: relative;
  }

  &.upmod:focus {
    animation: vote 0.4s ease-out forwards;
  }

  /* Downvotes */

  &.down {
    background-position: -32px -108px;
    transition: background-color 0.25s ease;
  }

  &.downmod {
    height: 32px;
    margin-bottom: -10px;
  }

  &.downmod:focus {
    animation: vote 0.4s ease-out forwards;
  }

  /* Hover Message on Downvote */

  &.down {
    @include hover-popup($label-downvote,"right");
  }

}

/* Thumbnails */

.thumbnail {
  min-height: 56px;
  margin: 0 10px 0 0;
  width: 80px;
}

.thumbnail img {
  width: 80px;
}

.stickied .thumbnail,
.thumbnail.default,
.thumbnail.self,
.over18.link .thumbnail,
.spoiler.link .thumbnail {
  min-height: 56px;
  width: 80px;
}

.thumbnail.default {
  background: url(%%spritesheet%%) -176px -48px;
}

.thumbnail.self {
  background: url(%%spritesheet%%) -96px -124px;
}

.stickied .thumbnail {
  background: url(%%spritesheet%%) -96px -48px;
  height: 76px;
  margin-bottom: -15px;
  margin-top: 0px;
}

.over18.link .thumbnail {
  background: url(%%spritesheet%%) -176px -104px !important;
}

.over18.link .thumbnail img {
  display: none;
}

.spoiler.link .thumbnail {
  background: url(%%spritesheet%%) -176px -216px !important;
}

.spoiler.link .thumbnail img {
  display: none;
}

a.thumbnail[href*="reddit.com"] {
  background: url(%%spritesheet%%) -176px -160px;
}

a.thumbnail[href*="reddit.com"] img {
  display: none;
}

/* Inner Post Area */

.link .entry {
  margin: 0;
  max-width: 960px;
  padding: 0;
}

/* Submission Title */

.link .title {
  font-family: Arial, sans-serif;
  font-size: 13.5pt;
  margin: 0 0 0 0;
  overflow: visible;
  transition: all 0.15s ease;
}

body .content .sitetable .link .title a:hover {
  color: $color-link-default;
}

/* Unvisited */

.thing .title.loggedin.click,
.thing .title.click,
.thing .title.loggedin,
.thing .title {
  color: $color-link-default;
}

/* Visited  */

.content .thing .title:visited,
.content .thing.visited .title {
  color: $color-link-visited;
}

/* Clicking */

.thing .title.loggedin.click:visited,
.thing .title.click:visited {
  color: $color-link-default;
}

/* Domain */

.link .domain {
  visibility: hidden;

  a {
    color: $color-lighter-grey;
    position: relative;
    top: -1px;
    transition: all 0.15s ease;
    visibility: visible;

    &:hover {
      color: $color-link-default;
      text-decoration: none;
    }
  }
}

.approval-checkmark {
  cursor: default;
}

@import "expando_button";

/* Expando Text */

.link .usertext .md {
  background-color: transparent;
  border: 0 solid;
  border-radius: 0;
  border-top: 1px solid #edf1f3;
  color: $color-dark-grey;
  margin-bottom: -12px;
  margin-top: 12px;
  padding-left: 0;
  padding-top: 12px;
}

/* Submitted X ago by.. */

.entry .tagline {
  color: $color-lighter-grey;
  font-family: arial, sans-serif;
  font-size: 12px;
  margin-top: 3px;
}

.link .entry .tagline {
  a {
    color: $color-dark-grey;
  }

  &::first-letter {
    text-transform: capitalize;
  }

  time {
    cursor: help;
  }

  a:hover {
    color: $color-link-default;
    text-decoration: none;
  }

  a.author {
    margin-right: inherit;
  }

  .userattrs {
    visibility: hidden;

    a {
      background: $color-medium-grey;
      color: #fff;
      cursor: help;
      font-size: 10px;
      margin-left: 2px;
      padding: 1px 3px;
      position: relative;
      visibility: visible;
      border-radius: 2px;
    }

    .cakeday {
      font-size: 1.2em;
      padding: 0;
      background: none;
      color: inherit !important;
      text-indent: 0;
      top: -0.35em;
      margin-right: 0.1em;
    }

    a.moderator {
      background-color: $color-green;
      color: $white;
    }
  }
}

.RESUserTagImage {
  background-image: url(%%spritesheet%%) !important;
  background-position: -32px -101px !important;
  height: 10px !important;
  margin-left: 2px !important;
  margin-top: 1px !important;
  opacity: 0.25 !important;
  transition: opacity 0.15s ease;

  &:hover {
    opacity: 1 !important;
  }
}

/* Comment / Share / Report */

.link .flat-list {
  margin-top: 3px;
  padding: 0;
}

.entry .buttons li {
  line-height: normal;
}

.entry .buttons li a {
  color: $color-lighter-grey;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  padding: 0 1px;
  transition: all 0.15s ease;
}

.link .entry .buttons li a:hover {
  color: $color-link-default;
  text-decoration: none;
}

.entry .buttons li.nsfw-stamp {
  border: none !important;
  border-radius: 0;
  padding: 0;
}

.nsfw-stamp {
  border: 0;
  border-radius: 0;
  padding: 0;
}

.nsfw-stamp acronym {
  background-color: $color-nsfw;
  border-color: $color-nsfw;
  border-radius: 0;
  color: $color-nsfw-text;
  cursor: help;
  padding: 2px 3px;
  position: relative;
  top: -1px;
}

.link .entry .buttons li a.comments {
  color: $color-link-default;
  font-weight: bold !important;
  transition: all 0.25s ease-in-out !important;
}

.link .entry li .comments:hover {
  text-decoration: none;
}

/* Reporting Comment */

.action-form {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
  left: 40%;
  margin: 0;
  padding: 24px;
  position: fixed;
  top: 35%;
  z-index: 100;

  .reason-prompt {
    color: $color-grey;
    display: block;
    font-size: 16px;
    padding-bottom: 8px;

    &::first-letter {
      text-transform: capitalize;
    }

    li {
      display: block;
      padding: 4px 4px 4px 0;
    }
  }

  li label {
    color: $color-grey;
    cursor: pointer;
    display: block;
    padding: 4px 4px 4px 0;
    text-transform: capitalize;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  input[name="other_reason"] {
    padding: 8px;
  }
}

/* Flair */

.link .entry .buttons li a.flairselectbtn {
  color: $color-link-default;
}

/* RES L+C */

.link .entry .buttons li .redditSingleClick {
  color: $color-lighter-grey;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  padding: 0 1px;
  transition: all 0.15s ease;
}

/* Linkflairs */

.linkflairlabel {
  @include base-flair($color-link-flair);
  margin-bottom: -4px;
  margin-left: 0.5em;
  border: 0;
}

.linkflair-mod .linkflairlabel {
  background-color: $color-link-flair-mod;
  color: $color-link-flair-mod-text;
}

.linkflair-mod a {
  color: $color-link-flair-mod !important;
}

.linkflair-mod .thumbnail.default,
.linkflair-mod .thumbnail.self {
  background: url(%%spritesheet%%) -96px -48px !important;
}

/* Reported & Spam/Remove/Approves */

body .content .thing.spam {
  background-color: #ffe9e6;
}

.entry .buttons li.reported-stamp {
  background-color: transparent;
  border: 1px solid #edeeee !important;
  border-radius: 2px;
  color: $color-dark-grey;
  line-height: 17px;
}

a.pretty-button.negative,
a.pretty-button.neutral,
a.pretty-button.positive {
  background-image: none;
  border-radius: 2px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.25);
  color: $color-pretty-button-text;
  line-height: 15px;
  transition: all 0.1s ease;
}

a.pretty-button.negative,
a.pretty-button[data-event-action='remove'],
a.pretty-button.neutral[data-event-action='remove'] {
  background-color: $color-pretty-button-negative;
  border-color: $color-pretty-button-negative;
  color: $white !important;

  &:hover {
    background-color: lighten($color-pretty-button-negative, 6%);
    border-color: lighten($color-pretty-button-negative, 6%);
  }
}

a.pretty-button.neutral {
  background-color: $color-pretty-button-neutral;
  border-color: $color-pretty-button-neutral;
  color: #4a4f57 !important;

  &:hover {
    background-color: lighten($color-pretty-button-neutral, 6%);
    border-color: lighten($color-pretty-button-neutral, 6%);
  }
}

a.pretty-button.positive {
  background-color: $color-pretty-button-positive;
  border-color: $color-pretty-button-positive;
  color: $white !important;

  &:hover {
    background-color: lighten($color-pretty-button-positive, 6%);
    border-color: lighten($color-pretty-button-positive, 6%);
  }
}

a.pretty-button.poop,
a.pretty-button[data-event-action='spam'] {
  background-color: $color-pretty-button-poop;
  border-color: $color-pretty-button-poop;
  color: $white !important;

  &:hover {
    background-color: lighten($color-pretty-button-poop, 6%);
    border-color: lighten($color-pretty-button-poop, 6%);
  }
}

a.pretty-button.positive.pressed,
a.pretty-button.neutral.pressed,
a.pretty-button.negative.pressed {
  background-image: none;
  box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.15);
}

ul.report-reasons {
  background-color: transparent;
  border: 1px solid #edf1f3;
  border-radius: 2px;
  font-size: 12px;
  margin-top: 4px;
  padding: 8px;
}

/* Last Clicked */

.link.last-clicked {
  background-color: rgba(0, 0, 0, 0.04);
  border: none;
  left: -16px;
  margin-right: -32px;
  padding-left: 16px;
}

/* Sticky Post */

.thing.link.stickied a.title,
.thing.link.stickied a,
.thing.link.stickied .entry li .comments {
  color: $color-stickied;
}

.thing.link.stickied .expando-button:hover {
  background-color: $color-stickied !important;
  border-color: $color-stickied !important;
}

.tagline .stickied-tagline {
  color: $color-green;
  cursor: help;
}

/* Sticky Comment */

.stickied.comment {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent $color-stickied transparent transparent;
  }
}

//.stickied.comment > .entry a,
//.tagline .moderator, .green,
//.search-result-meta .moderator {
  //co
//}
//.tagline .moderator,
.stickied.comment .tagline .stickied-tagline {
  color: $color-stickied !important;
}

.submitter.moderator {
  color: $white !important;
}

/* Ad */

.content .spacer {
  margin: 0;
}

.link.promotedlink.promoted {
  background-color: #eff7ff;
  padding: 16px 0;
}

.link.promotedlink.promoted .thumbnail {
  height: auto;
}

.link.promotedlink.promoted .thumbnail img {
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
}

.organic-listing {
  background-color: white !important;
  border: none;
  border-radius: 2px 2px 0 0;
  margin-bottom: 0;
  padding: 0;
  position: relative;

  .link,
  .link.compressed,
  .link.promotedlink {
    background-color: transparent;
    border: 1px solid #edf1f3;
    border-radius: 3px;
    padding: 16px;
  }

  .help {
    color: $color-lighter-grey;
    margin-bottom: 20px;
    margin-right: 16px;
  }

  .sponsored-tagline {
    color: $color-lighter-grey;
    margin-bottom: 20px;
    margin-right: 16px;
  }
}

/* Compressed post */

.link.compressed {
  margin: 0;

  .entry {
    padding: 11px 32px 9px 0;
  }

  .title {
    margin: 0;
  }
}

body > .content .link.compressed .midcol {
  height: auto;
  margin: 8px 0 0 4px;
}

/* Flair Selector */

.flairselector {
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
  left: 50% !important;
  margin-left: -125px;
  padding: 32px !important;
  position: fixed;
  top: 20% !important;
  width: 250px !important;
}

.flairselector.drop-choices.active {
  border: 1px solid #e2e2e2;
}

.flairselector h2 {
  background-color: transparent;
  color: $color-link-default;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 4px;
  text-align: left;
  text-transform: capitalize;
}

.flairoptionpane {
  max-height: 250px;
  text-align: left;
}

.flairselector .flairoptionpane ul li {
  padding: 0 !important;
}

.flairoptionpane ul li .linkflair {
  padding: 0;
  text-align: left;
}

.flairoptionpane ul li .linkflair:hover,
.flairselector li:hover {
  background-color: #f5f8f9;
  border: 0 solid;
}

.flairoptionpane ul li .linkflair span.linkflairlabel {
  line-height: 1.35;
  margin: 8px 0;
  margin-right: 6px;
}

.flairoptionpane ul li .linkflair a.title {
  color: $color-link-default !important;
  font-size: 18px !important;
  opacity: 100 !important;
}

.flairselector form {
  border-top: 1px solid #f7f7f7;
  padding-top: 12px;

  .flairselection {
    text-align: left;

    &::before {
      color: $color-medium-grey;
      content: $label-flair-selected;
      display: block;
    }

    .linkflair a.title {
      color: $color-link-default !important;
      cursor: default;
      font-size: 18px !important;
      opacity: 100 !important;
    }

    .flairremove {
      display: block !important;
      margin-bottom: 8px;
      padding: 4px 0;
      visibility: hidden;
    }

    .flairremove a {
      color: $color-link-default !important;
      margin-left: -4px;
      opacity: 100 !important;
      text-transform: capitalize;
      visibility: visible;
    }

    .flairremove a::first-letter {
      text-transform: capitalize;
    }

    .flairremove a:hover {
      text-decoration: underline !important;
    }
  }
}

.flairselector .error {
  text-align: left;
}

.flairselector .error::first-letter {
  text-transform: capitalize;
}

.flairselector .error::after {
  color: #b3b3b3;
  content: $label-flair-about;
  display: block;
}

.flairselector img {
  left: 50%;
  margin-left: -9px;
  opacity: 0.5;
  position: relative;
}

.flairselector .flairoptionpane ul li {
  margin: 4px 0;
}

.flairselector li.selected {
  background-color: transparent;
  border: none;
}

.flairselector .flairoptionpane ul li.flairsample-right {
  border: none;
  padding: 5px 0 !important;
}

.flairselector li a,
.flairselector form .flairselection a.author {
  color: $color-medium-grey !important;
  font-size: 11px;
}

/* Unvotable Message */

.unvotable-message {
  border: 0 solid;
  color: $color-medium-grey;
}

.unvotable-message::first-letter {
  text-transform: capitalize;
}

/* RES Selection */

.res .RES-keyNav-activeElement {
  outline: 0 dashed #eee !important;
  transition: all 0.15s ease;
}

.res .entry {
  transition: all 0.1s ease;
}

div.RES-keyNav-activeElement,
div.commentarea div.RES-keyNav-activeElement.entry div.noncollapsed {
  background-color: transparent !important;
  border-left: 3px solid #c2c2c2;
  padding-left: 8px !important;
}

div.commentarea div.RES-keyNav-activeElement .md {
  background-color: transparent !important;
}

.res .commentarea .thing {
  padding: 16px 16px 0 14px !important;
}

.res .commentarea .thing.collapsed {
  padding-bottom: 16px !important;
}

.res .commentarea .entry .flat-list {
  margin-bottom: 0;
  padding-bottom: 0;
}

.res .comment .entry {
  margin-bottom: 16px;
}

/* RES Tag dialog + RES Tag */

.userTagLink.hasTag,
#userTaggerPreview {
  border: 0 solid !important;
  border-radius: 0 !important;
  font-size: 11px !important;
  margin-left: 4px !important;
  margin-top: 0 !important;
}

.RESDialogSmall {
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
  margin-top: 8px;
}

.RESDialogSmall > h3 {
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  color: #4f8ef7;
  height: 36px;
  margin: 0;
  padding: 8px;
}

.livePreview .md {
  padding: 8px 12px;
}

.RESCloseButton {
  height: 22px;
  line-height: 19px;
  transition: all 0.15s ease;
  width: 22px;
}

.RESCloseButton:hover {
  border: 1px solid #d7d9dc;
}

#userTaggerToolTip input[type=text],
#userTaggerToolTip select {
  border: 1px solid #e5e5e5 !important;
  line-height: 22px;
  padding-left: 4px;
}

.toggleButton {
  line-height: 0.8;

  .toggleOn {
    background-color: $color-toggle;
    border: 1px solid $color-toggle;
    border-radius: 0;
    color: $color-toggle-text;
    text-transform: capitalize;
  }

  .toggleOff {
    background-color: transparent;
    border: 1px solid #d7d9dc;
    border-radius: 0;
    text-transform: capitalize;
  }
}

#userTaggerToolTip input[type=submit] {
  bottom: 10px !important;
}

/* Sorting Menu (Top links today/this week/ever) */

.top-page .menuarea {
  border: none;
  color: $color-medium-grey;
  margin: 16px 0 24px 0;
  overflow: visible;
  padding: 0;
}

.dropdown.lightdrop .selected {
  background-image: none;
  border: 1px solid #edf1f3;
  border-radius: 2px;
  color: $color-dark-grey;
  cursor: pointer;
  padding: 8px 12px;
  text-decoration: none;
}

.dropdown.lightdrop .selected:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown.lightdrop .selected::after {
  content: "  ";
}

.drop-choices.lightdrop {
  margin-top: 8px;
}

/* RES Popup */

.guider {
  border: none;
  box-shadow: 0 2px 3px #ddd;
}

.guider_content h1 {
  color: #4f8ef7;
}

.guider_button {
  background-color: #4f8ef7;
  background-image: none;
  border: none;
  font-size: 11px;
  transition: all 0.15s ease;
}

.guider_button:hover {
  background-color: rgba(79, 142, 247, 0.75);
}

.x_button {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
  transition: all 0.25s ease;
}

.x_button:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

/* Infobar (Default yellow announcement bar) */

.content .infobar {
  background-color: $color-infobar;
  border: none;
  border-radius: 2px;
  color: $color-infobar-text;
  line-height: 26px;
  margin: 0 0 16px 0;
  padding: 8px 16px;
}

.infobar .md {
  color: $color-infobar-text;
}

.content .infobar::first-letter {
  text-transform: capitalize;
}

/* Welcome infobar */

.content .infobar.welcome {
  height: 86px;
  line-height: inherit;
}

.content .infobar.welcome h1 {
  color: $color-grey;
}

.commentarea .infobar {
  line-height: 18px;
  margin: 8px 0 16px 0;
}

.commentarea .infobar a {
  color: rgba(0, 0, 0, 0.64);
  font-weight: bold;
}

/* Updated Reddit Infobar */

.reddit-infobar.with-icon {
  background: #fff;
  border: none;
  box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  margin: 0 0 16px 0;
}

.reddit-infobar.with-icon .md {
  color: #000;
  font-size: 14px;
}

/* Locked Post */

.reddit-infobar.with-icon.locked-infobar {
  background-color: $color-locked;
}
