.flair {
  display: inline-block;
  border: none;
  border-radius: 0;
  font-weight: normal;
  margin-right: inherit;
  padding-left: 0;
  margin: 0 0.5em -5px 0.5em;
  font-size: 1em;
	background: url(%%flairs%%) no-repeat -9999px;
}
