.footer-parent {
  background-image: url(%%footer%%);
  background-position: 50% bottom;
  background-repeat: repeat-x;
  background-size: auto 100%;
  height: 300px;
  margin-top: 20px;
  padding: 8px 0 64px 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 92px;
    right: 50px;
    width: 10px;
    height: 10px;
    z-index: 2;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgba(white,0.1);
    animation: last_breath 8000ms 4000ms linear infinite;
    transform: scale(0.2) translate3d(0,0,0)
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 60px;
    right: 32px;
    background-image: url(%%heads%%) !important;
    background-position: -64px -32px;
    width: 32px;
    height: 32px;
    z-index: 1;
    animation: pip_is_dead 8000ms ease-in-out infinite forwards;
  }
}

.footer {
  background-color: rgba($color-slate, 0.5);
  border: 0 solid;
  border-radius: 2px;
  max-width: 640px;
  padding: 16px 0;
  font-size: 0.8em;
  margin: 16px auto 104px;

  a {
    color: rgba($white, 0.7);
  }

}

.footer .col {
  border: none;
  padding: 0 16px;
  margin: 0;
}

.flat-vert.title,
.bottommenu a {
  color: rgba($white, 0.7);
}

.bottommenu,.bottommenu .updated {
  color: rgba($white, 0.7);
}

.debuginfo,
#hsts_pixel {
  display: none;
}
