#header {
  background-color: #30333a;
  background-image: url(%%headerimg%%);
  background-position: 50% 50%;
  background-repeat: repeat-x;
  background-size: auto 100%;
  border: none;
  box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  height: 196px;
  margin: 0;
  z-index: 1;
}

/* Subreddits Bar */

#sr-header-area {
  border: none;
  height: 24px;
  line-height: 23px;
  transition: all 0.15s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;


  .width-clip {
    right: 300px;
  }

  .sr-list {
    margin-right: 48px;
  }

  .sr-bar a,
  #sr-more-link,
  .separator,
  .dropdown.srdrop .selected {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.4);
    transition: all 0.15s ease;
  }

  &:hover {
    .sr-bar a,
    #sr-more-link,
    .seperator,
    .dropdown.srdrop .selected {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .sr-bar a:hover,
  #sr-more-link:hover,
  .dropdown.srdrop .selected:hover {
    background-color: transparent;
    border: none;
    transition: all 0.15s ease;
  }

  a.random.choice {
    display: inline-block;
    margin-top: -2px;
    padding-top: 2px;
    position: relative;
  }

  .dropdown.srdrop .selected {
    background-image: none;
    margin: 0 12px 0 8px;
    padding: 0;
  }

  .dropdown.srdrop .selected:hover {
    text-decoration: underline;
  }

  .dropdown.srdrop .selected::after {
    content: " ";
    font-size: 10px;
    margin-left: 4px;
    position: relative;
  }

  /* My Subreddits Dropdown */

  .drop-choices.srdrop {
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  }

  .drop-choices a.choice {
    border-bottom: 1px solid #edeeee;
    color: $color-grey;
    padding: 2px;
  }

  .drop-choices a.choice:hover {
    background-color: #f1f1f1;
  }
}

body:not(.loggedin) #sr-header-area .width-clip {
  right: 340px;
}

@import "user_bar";

/* Header Start */

/* Snoo */

#header-img.default-header,
#header-img {
  display: none;
  background-image: url(%%spritesheet%%);
  background-position: -80px 0;
  font-size: 0;
  height: 42px;
  margin: 0 0 0 0;
  padding-left: 42px;
  vertical-align: top;
  width: 0;
  z-index: 99;
  position: absolute;
  left: 12px;
  bottom: 50px;
}

#header-img.default-header:hover,
#header-img:hover {
  background-position: -122px 0;
}

/* Reddit Name */

#header .pagename {
  font-size: 0;

  a {
    text-indent: -9999px;
    top: 50%;
    // left: 50%;
    left: 15px;
    width: 273px;
    height: 69px;
    background-size: cover;
    display: block;
    position: absolute;
    margin-top: -35px;
    // margin-left: -134px;


    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      height: 51px;
      top: 13px;
      left: 18px;
      background-size: cover;
      animation: logoHand 9000ms 3000ms linear infinite forwards;
    }
  }
}

/* Tabmenu (hot/new/top) */

#header-bottom-left {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#header .tabmenu {
  border: none;
  display: block;
  height: 42px;
  line-height: 42px;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 16px;

  &::before {
    transition: background 300ms linear;
    background: linear-gradient(to right, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
    content: "";
    display: block;
    height: 42px;
    left: -16px;
    position: absolute;
    right: -384px;
    z-index: -1;
  }

  // &:hover:before {
  //   background: linear-gradient(to right, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0.24) 100%);
  // }

  li a {
    color: #fff;
    text-shadow: 0 0 6px rgba(black,.5);
    display: inline-block;
    font-family: Lato, arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 32px;
    margin: 0 16px;
    padding: 0;
    text-transform: uppercase;
  }

  li a:hover {
    color: #fff;
  }

  li:first-of-type a {
    margin-left: 0;
  }

  li.selected a {
    border-bottom: 2px solid;
    color: #fff;
    padding-bottom: 4px;
  }
}

.listing-page .tabmenu li > a[href$="/controversial/"],
.wiki-page    .tabmenu li > a[href$="/controversial/"],
.listing-page .tabmenu li > a[href$="/promoted/"],
.wiki-page    .tabmenu li > a[href$="/promoted/"],
.listing-page .tabmenu li > a[href$="/ads/"],
.wiki-page    .tabmenu li > a[href$="/ads/"],
.listing-page .tabmenu li > a[href$="/gilded/"],
.wiki-page    .tabmenu li > a[href$="/gilded/"] {
  display: none !important;
}

// Wiki custom name

.tabmenu a[href$="wiki/"] {
  &:before {
    content: "Jerk ";
  }
}
