/*
 * Color Settings.
 */

// Shorthand colors.
$color-blue: #24a0ed;
$color-rich-blue: #0079d3;
$color-green: #27b062;
$color-grey: #4d5763;
$color-dark-grey: #292f34;
$color-lighter-grey: #98abba;
$color-medium-grey: #738491;

// Semantic colors.
$color-background: #eee;
$color-button-text: #fff;
$color-button: $color-rich-blue;
$color-downvote-background: #4f4dc0;
$color-downvote-text: #fff;
$color-downvote: #5c5bd7;
$color-infobar-text: #fff;
$color-infobar: $color-rich-blue;
$color-link-default: $color-blue;
$color-link-flair-mod-text: #fff;
$color-link-flair-mod: $color-green;
$color-link-flair-text: #fff;
$color-link-flair: $color-medium-grey;
$color-link-visited: $color-medium-grey;
$color-locked: $color-green;
$color-nsfw-text: #fff;
$color-nsfw: #ea4876;
$color-pretty-button-negative: #fb797e;
$color-pretty-button-neutral: #ddd;
$color-pretty-button-positive: #1ecd97;
$color-pretty-button-text: #fff;
$color-selection: $color-rich-blue;
$color-stickied: $color-green;
$color-toggle-text: #fff;
$color-toggle: #4f8ef7;
$color-upvote: #ff6422;

/*
 * Label text.
 */

$label-downvote: "For content that does not contribute to any discussion." !default;
$label-flair-about: "Go to /r/.../about/flair" !default;
$label-flair-selected: "Selected Flair:" !default;
$label-messages: "You have new messages!" !default;
$label-search: "Search reddit" !default;
$label-submit-button: " your post to Reddit." !default;
$label-submit-inactive: "N/A" !default;
$label-submit-link: "Submit Link" !default;
$label-submit-text: "Submit Text" !default;
$label-subreddit-info: "Subreddit Info" !default;
$label-subreddit-online: " currently online" !default;
$label-subreddit-readers: " readers" !default;
$label-theme-credit: "This subreddit uses the /r/Naut theme." !default;
$label-theme-faq: "Hey! There's a FAQ if you just scroll down a little." !default;
