.stylesheet-customize-container .pretty-form {
  margin-bottom: 16px;
  padding: 8px 0;
}

.stylesheet-customize-container .pretty-form .sheets {
  margin-right: 0;
}

.stylesheet-customize-container h2 {
  display: none;
}

.sheets .btn.right {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

#images {
  background-color: #fff;
  padding: 8px 0;
  position: relative;

  .image-preview-list {
    margin: 0;

    li {
      width: 50%;
      padding-right: 10px;
    }
  }
}

#images #image-upload {
  margin: 0 0 4em 0;
}

#preview-table {
  background-color: $white;
  padding: 10px;

  & > table {
    width: 100%;
    margin: 0;
  }
}
